body {
  font-family: 'Coustard', 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
  90% {
    transform: scale(0.5);
  }
}
.popup {
  animation: popup 1.2s 0.5s ease infinite;
}

* {
  box-sizing: border-box;
}

.aztec-calendar {
  position: absolute;
  z-index: 0;
}

.mrdario-page {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
}

.center-absolute {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.page-title {
  .title-head, .title-game-options {
    .center-absolute;
  }

  .title-head {
    top: 10%;
    h1 {
      margin: 0;
      display: inline-block;
      font-size: 45pt;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 20px;
    }
  }

  .title-game-options {
    top: 73%;

    .title-game-option {
      font-size: 14pt;
      font-weight: bold;
      a {
        color: black;
      }
      span {
        display: inline-block;
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 12px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.95);
        }
      }
      &.disabled {
        color: #888;
      }
    }
  }
}

.page-settings {
  .settings-head, .settings-content, .settings-play {
    .center-absolute;
  }
  .settings-head {
    top: 5%;
    h2 {
      margin: 0;
      display: inline-block;
      font-size: 30pt;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 20px;
    }
  }
  .settings-content {
    top: 22%;
    > div {
      width: 400px;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 20px;
    }
  }
  .settings-play {
    top: 83%;
    font-size: 18pt;
    font-weight: bold;
    a {
      color: black;
    }
    span {
      display: inline-block;
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 12px;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.95);
      }
    }
  }
}

.game-playfield {
  margin: 0 auto;
  background: rgba(230, 230, 230, 0.9);
  top: 40px;
}


/* slider */
.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}
.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}
.handle.active {
  background-color: grey;
}
.horizontal-slider .handle {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 48px;
}
#horizontal-0,
#horizontal-1, #horizontal-2, #horizontal-3,
#vertical {
  margin: 20px 10px;
}
#horizontal-2 .bar.bar-2 {
  background: #ddd;
}
